.rulesPage{
    height: 500px;
    width: 500px;
    margin: 50px auto;
    background-color: rgba(252, 250, 250, 0.24);
}
.rules{
    padding: 40px;
    font-family: 'Gowun Batang', serif;
    color:  #f7f3f3;;
    font-size: 20px;
    font-weight: 400;
}
