* { margin:0; padding:0; }
header{
    display: flex;
    height: 80px;
    h1{
        margin: 20px;
    }
    button{
        margin: 20px;
    }
}
button {
    min-width: 150px;
    font-family: inherit;
    height: 40px;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;     
}
.list{
    display: flex;
    height: 80px;
    font-size: 20px;
    .card-number{
        width: 10vw;
        height: 80px;
        padding-left: 20px;
        margin: 30px 0;
    }
    .card-title{
        margin: 30px 0;
        width: 15vw;
    }
    .card-text{
        margin: 30px 0;
        width: 15vw;
    }
    button{
        float: right;
        margin: 20px;
    }
}
.formStyle{
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    border-radius:20px;
    text-align: center;
    padding: 2vw;
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    line-height: 5vh;
    font-weight: 400;
    animation-duration: 3s;
    animation-name: scaleTransform;
    h5{
        text-align: center;
        font-family: 'Gowun Batang', serif;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    div{
        margin-top: 20px;
        div{
            clear:both; 
            text-align:right;
            label {
                margin-left: 5vw;
                float: left;
            }
            input{
                border-radius: 5px;
                padding: 5px;
                width: 25vw;
                height: 20px;
                margin-right: 5vw;
            }
            select{
                border-radius: 5px;
                padding: 5px;
                width: 26vw;
                margin-right: 5vw;
                height: 30px;
            }
        }
    }
    button {
        float: right;
        margin-top: 10px;
        margin-right: 5vw;
    }

}

@keyframes scaleTransform {
    from {
      transform: scale(0.1);
    }
  
    to {
        transform: scale(1);
    }
}