* { margin:0; padding:0; }
/*делаем объект канвас фоном*/
canvas { 
   position: absolute;
   width:100vw;
   background-size: cover;
   background: url(assets/Mars.jpg) no-repeat;
   left: 0;
   top: 0;
   z-index: -1; 
}

/*стили для кнопок*/
a.fciA {
    margin: 20px auto;
    font-family: 'Gowun Batang', serif; 
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align:center;
    display:block;
    width:400px;
    color: #a09e9e;
    position: relative;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
  }
  /*при наведении мышкой появляется прозрачный фон у надписи и шрифт становится ярче*/
  a.fciA:hover {
    color:  #f7f3f3;
    background:rgba(252, 250, 250, 0.24);
  }

  /*левый верхний уголок*/
  a.fciA:after {
    left: -20px;
    -webkit-transition-property: left, opacity, top;
    -moz-transition-property: left, opacity, top;
    -o-transition-property: left, opacity, top;
    transition-property: left, opacity, top;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-left: 5px solid #d3d1d1;
    border-top: 5px solid  #d3d1d1;
    top: -22px;
    opacity: 0;
  }
  a.fciA:hover:after {
    left: -10px;
    top: -12px;
    opacity: 1;
  }
  /*правый верхний уголок*/
  a.fciA:before {
    right: -20px;
    -webkit-transition-property: right, opacity, top;
    -moz-transition-property: right, opacity, top;
    -o-transition-property: right, opacity, top;
    transition-property: right, opacity, top;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-right: 5px solid  #d3d1d1;
    border-top: 5px solid  #d3d1d1;
    top: -22px;
    opacity: 0;
  }
  a.fciA:hover:before {
    right: -10px;
    top: -12px;
    opacity: 1;
  }
  /*левый нижний уголок*/
  .fciSpan:after {
    left: -20px;
    -webkit-transition-property: left, opacity, bottom;
    -moz-transition-property: left, opacity, bottom;
    -o-transition-property: left, opacity, bottom;
    transition-property: left, opacity, bottom;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-left: 5px solid  #d3d1d1;
    border-bottom: 5px solid  #d3d1d1;
    bottom: -24px;
    opacity: 0;
  }
  .fciSpan:hover:after {
    left: -10px;
    bottom: -14px;
    opacity: 1;
  }
  /*правый нижний уголок*/
  .fciSpan:before {
    right: -20px;
    -webkit-transition-property: right, opacity, bottom;
    -moz-transition-property: right, opacity, bottom;
    -o-transition-property: right, opacity, bottom;
    transition-property: right, opacity, bottom;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-right: 5px solid  #d3d1d1;
    border-bottom: 5px solid  #d3d1d1;
    bottom: -24px;
    opacity: 0;
  }
  .fciSpan:hover:before {
    right: -10px;
    bottom: -14px;
    opacity: 1;
  }