.rocket{
    background: url(../../assets/rocket.png) no-repeat ;
    background-size: 20vh;
    position: absolute;
    width: 40vh;
    height: 30vh;
    animation: vibrate 0.1s 0s infinite linear;
}
@keyframes vibrate {
    0% {
      transform:translate3d(0, 0, 0) rotate(80deg);
    }
    50% {
      transform:translate3d(0, -0.1rem, 0) rotate(80deg);
    }
    100% {
      transform:translate3d(0, 0.1rem, 0) rotate(80deg);
    }
  }
  
@keyframes StarAnimation {
    from { left: 1067px; }
    to { left: -10px; }
}

.star{
    position: absolute;
    background-color: yellow;
    width: 10px;
    height: 10px;
}

 
  
  
  