.rocket{
    background: url(../../assets/rocket.png) no-repeat ;
    background-size: 20vh;
    position: absolute;
    width: 40vh;
    height: 30vh;
    animation: vibrate-1 0.1s 0s 50 linear,  vibrate-2 0.1s 0.5s 150 linear, vibrate-1 0.1s 4s infinite linear;
}
@keyframes vibrate-1 {
    0% {
      transform:translate3d(0, 0, 0) rotate(80deg);
    }
    50% {
      transform:translate3d(0, -0.1rem, 0) rotate(80deg);
    }
    100% {
      transform:translate3d(0, 0.1rem, 0) rotate(80deg);
    }
  }
  
  @keyframes vibrate-2 {
    0% {
      transform:translate3d(0, 0, 0) rotate(80deg);
    }
    50% {
      transform:translate3d(0, -0.3rem, 0) rotate(80deg);
    }
    100% {
      transform:translate3d(0, 0.3rem, 0) rotate(80deg);
    }
  }
  .star{
      background-color: yellow;
      position: absolute;
      width: 10px;
      height: 10px;
  }
 
  
  
  